@import "vars"
@import "fonts"
@import "libs"

// ::placeholder
// 	color: #666
/***************** MIXINS **************/

@mixin blueShadow()
	box-shadow: 0px 10px 50px rgba(32, 51, 113, 0.25);
 
/*********************** CUSTOM FONTS *****************************/

@mixin MontReg()
	font-family: 'Montserrat', sans-serif
	font-weight: 400

@mixin MontBold()
	font-family: 'Montserrat', sans-serif
	font-weight: 700



/************ CUSTOM STYLES ********************/

*
	margin: 0
	padding: 0
	-webkit-box-sizing: border-box
	box-sizing: border-box


a 
	text-decoration: none


button 
	outline: none
	cursor: pointer
	border: none


ul
	list-style-type: none
	margin: 0


section
	position: relative


body, html
	@include MontReg()
	font-size: 100%
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	min-height: 100vh

body
	
	&::-webkit-scrollbar-track
		// border-radius: 6px
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
		background-color: transparent


	&::-webkit-scrollbar
		width: 6px
		background-color: transparent


	&::-webkit-scrollbar-thumb
		background-color: $blue
		// border-radius: 6px


.blue
	background-color: $blue

// button styles
 
.button
	max-width: 210px
	width: 100%
	display: inline-block 	
	font-size: 18px
	color: #fff
	padding: 15px 0
	text-align: center
	text-decoration: none
	transition: all .3s ease

	&:hover, &:focus, &:active
		text-decoration: none
		color: #fff
		@include blueShadow()
		background-color: darken($blue, 5%)





// humburger

.hamburger
	padding: 0
	line-height: 1

.hamburger-box
	width: 30px

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before
	height: 2px
	background-color: $blue
	width: 30px

// .hamburger-inner:after
// 	bottom: -7px

// .hamburger-inner:before
// 	top: -7px



// HEADER


.top_head
	background-color: $blue
	padding: 10px 0
	color: #fff


.lang
	display: inline-block

.lang_switcher
	display: flex
	margin: 0
	box-sizing: border-box
	outline: 1px solid #fff

	li

		a
			color: rgba(#fff, .5)
			padding: 6px 
			font-size: 12px
			box-sizing: border-box
			transition: all .3s ease

			&:hover
				text-decoration: none

		&.active

			a
				background-color: #fff
				color: $blue

.head_addr
	font-size: 14px

	p
		margin: 0

	i
		font-size: 20px
		padding-right: 15px


.top_phone
	display: flex

	a
		color: #fff

.phone_toggle

	i
		transform: rotate(0)
		transition: all .3s ease
		transform-origin: center center
		position: relative
		left: 10px
		// position: absolute

	a
		padding: 0px 10px

		&:hover
			text-decoration: none

	&:hover

		i
			transform: rotate(-180deg)
			left: 10px

		.sub_bl
			height: 80px
			display: block			


.tel_icon	
	width: 20px
	margin-right: 15px


.parent_phone
	position: relative

	.sub_bl
		display: none
		height: 0
		transition: all .3s ease
		// opacity: 0
		position: absolute
		background-color: $blue
		padding: 0 0 5px
		border-radius: 6px



 









	


@import "media" // Always at the end
